body{
    font-family: 'Montserrat', sans-serif;font-family: 'Montserrat', sans-serif;
    font-weight:800px;
}
navbar{
    position:fixed;
    top:0; left: 0; right: 0;
    display: flex;
   align-items: center;
   justify-content:space-around;
   z-index:4;
   border-bottom: 1px solid gray;
   max-width:1240;
   margin:0 auto;
   background-color:white;
}
navbar img{
    width:307px;
}
nav ul{
    list-style:none;
}
nav ul li {
    float: left;
    padding-left:20px ;
}
nav ul li a{
    text-decoration:none;
    color:  #a82700;
    padding: 10px;
    
    display: block;
}
.hide{
    position:absolute;
    box-shadow:0 0px  grey;
    width:200px;
    background-color:white;
    display: none;
    padding-top:20px;
}
nav ul li ul li{
    width:100%;

}
.hover:hover .hide{
 display: block;
}
.lang{
background-color: black;
border-radius:40px;
text-align: center;

}
.bar{
display: none;
}
#menu{
display:none;
}

.header>img{
    width: 100%;

}.container > h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}
div img {
    width: 32%;
    margin: 7px;
    height: 30%;
    float: left;
}
div img:hover{
    transform : scale(0.9, 0.9);
    /* filter: brightness(30%); */
    background: rgba(0, 0, 0, 0.8);
    opacity: 0.8;
    cursor: pointer;
}
.foot{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 14px;
    position: absolute;
    left: 0;
    height: 110px;
    width: 100%;
    text-align: center;
    background-color:#1F272E;
    color: rgb(255, 255, 255);
    bottom:-300px;
}
i{
    color: white;
    cursor: pointer;
    padding: 10px;
}
a{
    text-decoration: none;
    color: black;
}
